In [ ]:
#Chapter 2.7
#Loading an Avro File

import requests
import pandavro as pdx

# Create URL
url = 'https://machine-learning-python-cookbook.s3.amazonaws.com/data.avro'

#Download file
r = requests.get(url)
with open('data.avro', 'wb') as f:
    f.write(r.content)
    
# Load data
dataframe = pdx.read_avro('data.avro')

# View the first two rows
dataframe.head(2)

   integer             datetime  category
0        5  2015-01-01 00:00:00         0
1        5  2015-01-01 00:00:01         0

In [ ]:
#Chapter 2.8
#Querying a SQLite Database

import pandas as pd 
from sqlalchemy import create_engine

# Create a connection to the database
database_connection = create_engine('sqlite:///sample.db')

# Load data
dataframe = pd.read_sql_query('SELECT * FROM data', database_connection)

# View first two rows
dataframe.head(2)

   name  age
0   Ali   28
1  Sara   32

In [10]:
#Chapter 2.9
#Querying a Remote SQL Database

# import pymysql
# import pandas as pd

# conn = pymysql.connect(
#     host='localhost',
#     user='root',
#     password='',
#     db='db'
# )

# Read the SQL query into a dataframe
# dataframe = pd.read_sql('slect * from data', conn)

# View the first two rows
# dataframe.head(2)

In [ ]:
#Chapter 2.10
#Loading Data from a Google Sheet

# Google Sheet URL that downloads the sheet as a CSV
url = "https://docs.google.com/spreadsheets/d/"\
"1ehC-9otcAuitqnmWksqt1mOrTRCL38dv0K9UjhwzTOA/export?format=csv"

# Read the CSV into a dataframe
dataframe = pd.read_csv(url)

# View the first two rows
dataframe.head(2)

   integer            datetime  category
0        5  2015-01-01 0:00:00         0
1        5  2015-01-01 0:00:01         0

In [16]:
#Chapter 2.11
#Loading Data from an S3 Bucket

# S3 path to CSV
s3_uri = "s3://machine-learning-python-cookbook/data.csv"

# Set AWS credentials (replace with your own)
ACCESS_KEY_ID = "xxxxxxxxxxxxx"
SECRET_ACCESS_KEY = "xxxxxxxxxxxxxxxx"

# Read the CSV into a dataframe
dataframe = pd.read_csv(s3_uri, storage_options={
    'key': ACCESS_KEY_ID,
    'secret': SECRET_ACCESS_KEY,
})

# View first two rows
dataframe.head(2)

   integer             datetime  category
0        5  2015-01-01 00:00:00         0
1        5  2015-01-01 00:00:01         0

In [12]:
#Chapter 2.12
#Loading Unstructured Data

# URL to download the txt file from
txt_url = "https://machine-learning-python-cookbook.s3.amazonaws.com/text.txt"

# Get the txt file
r = requests.get(txt_url)

# Write it to text.txt locally
with open('text.txt', 'wb') as f:
    f.write(r.content)
    
# Read in the file
with open('text.txt', 'r') as f:
    text = f.read()

# Print the content
print(text)

Hello there!